<footer>
    <div>
        <p>© 2024 All Rights Reserved.</p>
    </div>
</footer>

<style>
    footer{
        background-color: rgb(7, 16, 60);
        color: white;
        text-align: center;
        height: 40px;
    }
</style>