<section id="work">
    <h2>Work Experience</h2>
    <div class="container">
        <div class="card-container">
            <div class="card">
                <h3>Bank system</h3>
                <span class="year">2023</span>
                <p>Monitoring the bank system run.</p>
            </div>
            <div class="card">
                <h3>Life insurance system</h3>
                <span class="year">2022</span>
                <p>Modifying UI and making the corresponding changes to the backend processes.</p>
                <p class="skills">VB.Net, HTML, CSS and JavaScript.</p>
            </div>
            <div class="card">
                <h3>HR web system</h3>
                <span class="year">2020 - 2021</span>
                <p>Developing the system from scratch.</p>
                <p class="skills">JavaScript and Java.</p>
            </div>
            <div class="card">
                <h3>Sales management system</h3>
                <span class="year">2018 - 2019</span>
                <p>Adding new functions and fixing bugs in the frontend and the backend.</p>
                <p class="skills">VB.Net and SQL.</p>
            </div>
        </div>
    </div>
</section>

<style>
    section{
        padding-top: 50px;
        text-align: center;
    }
    h2{
        color: rgb(7, 16, 60);
        margin: 30px 0;
    }
    h3{
        color: rgb(7, 16, 60);
        margin-top: 10px;
    }
    .card-container{
        width: 60%;
        margin: 0 auto;
    }
    .card{
        margin: 20px 0;
        padding: 10px 40px;
        padding-bottom: 20px;
        border: 1px solid navy;
        border-radius: 8px;
    }
    .year{
        color: rgb(57, 57, 57);
    }
    .skills{
        
    }
</style>